{% load staticfiles %}

<!DOCTYPE html>
<html lang="ro-RO">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bookit</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "booksite/css/styles.css" %}'>

    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body style="background-color: #e6eff3">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="nolink" href="{% url 'tale_list' %}">
                <img src="{% static 'booksite/img/logo.png' %}" class="littleimg logo">
            </a>
        </div>
        <div class="col-md-1">

            <div class="row">

                <div class="col-md-3">
                    <img src="{% static 'booksite/img/logotransp.png' %}" class="littleimg logo">
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-1">
                    <a href="#">RO</a>
                </div>
                <div class="col-md-2">
                    <a href="#">LOGIN</a>
                </div>

            </div>


        </div>
    </div>


    <div class="menu-container">
        <ul class="menu">
            <li><a class="active" href="#"><h4>Despre noi</h4></a></li>
            <li><a href="#"><h4>Galerie</h4></a></li>
            <li><a href="#"><h4>Creează cartea</h4></a></li>
            <li><a href="#"><h4>Contacte</h4></a></li>
        </ul>
    </div>


    <div>
        {% block content %}
            <h1>Insert your content here</h1>
        {% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- bootstrap java script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    {% block last %}
    {% endblock %}
</div>
</body>
</html>