{% load staticfiles %}

<!DOCTYPE html>
<html lang="ro-RO">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bookit</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{% static "booksite/css/styles.css" %}'>

    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>

<div class="container" id="container">
    <div class="row">
        <div class="col-md-5">
            
        </div>
        <div class="col-md-2">
            <a class="nolink" href="{% url 'tale_list' %}">
                <img src="{% static 'booksite/img/logotransp.png' %}" class="littleimg logo">
            </a>
        </div>
        <div class="col-md-5">
            
            <span class="flag-icon flag-icon-ro"></span>           
        </div>
    </div>

</div>
<div class="menu-container">
        <nav>
                  <ul class="menu nav nav-justified">
                    <li class="active"><a href="/">Acasă</a></li>
                    
                    
                    <li><a onclick="scrolldown1()">Despre noi</a></li>
                    <li><a onclick="scrolldown2()">O carte pentru tine</a></li>
                    <li><a onclick="scrolldown3()">Contacte</a></li>
                  </ul>
        </nav>
</div>


<div>
        {% block content %}
            <h1>Insert your content here</h1>
        {% endblock %}
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- bootstrap java script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    {% block last %}
    {% endblock %}


<div style="height: 60px"></div>
<hr>
<footer>
    <div id="footer" class="container">
        <div id="footer-cont" class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h5>Copyright &copy; "Bookit" 2016</h5>                    
                </div>
                <div class="col-md-2">
                    <h4>Follow us on</h4>
                </div>
                <div class="col-sm-1">
                    <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/bookitmd"><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
                </div>
                <div class="col-sm-1">
                    <a target="_blank" title="follow me on twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png" border=0></a>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px"></div>
    
</footer>
</body>


 <script>
        function scrolldown1() {
            $('html, body').stop().animate({
                scrollTop: $("#mark").offset().top
            }, 1000);
        }
    </script>
<script>
        function scrolldown2() {
            $('html, body').stop().animate({
                scrollTop: $("#tales").offset().top
            }, 1000);
        }
    </script>
<script>
        function scrolldown3() {
            $('html, body').stop().animate({
                scrollTop: $("#contact").offset().top
            }, 1000);
        }
    </script>
</html>

