{% extends 'booksite/base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="content white-box">
        <div class="modal-header">
            <h1 class="text-center">{{ tale.title }}</h1>
        </div>

        <form method="POST" action="{% url 'create_tale' tale.pk %}" class="create-form">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">Toate campurile sunt obligatorii</div>
            {% endif %}

            {% csrf_token %}
            <input type="hidden" name="tale__fields" value="{{ fields }}"/>

            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class+='form-control' placeholder=field.help_text %}
                </div>
            {% endfor %}

            <div class="text-center"><input type="submit" class="btn btn-lg btn-success" value="Creaza Povestea"/></div>
        </form>
    </div>

{% endblock %}