{% extends 'booksite/base.html' %}

{% block content %}

    {% for Tale in tale_list %}

    <div class="row book">
      <div class="col-md-4 full-height">
        <img src={{tale.image_path}} class="full-height">
      </div>
      <div class="col-md-8 full-height">
        <div class="book-title">{{tale.title}}</div>
        <div class="book-text">{{tale.about}}</div>
		<div class="book-btn text-right">
			<a href="/create-book/{{tale.id}}"  class="btn btn-success btn-lg">Creeaza cartea</a>
        </div>
      </div>
    </div>
   {% endfor %}
   
{% endblock %}



 