{% extends 'booksite/base.html' %}
{% load staticfiles %}

{% block content %}

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'booksite/img/car0.jpg' %}">
                <div class="carousel-caption">
                    <a onclick="scrolldown()" class="btn btn-success btn-lg">Descoperă poveştile</a>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'booksite/img/car2.jpg' %}">
                <div class="carousel-caption">
                    <a onclick="scrolldown()" class="btn btn-success btn-lg">Descoperă poveştile</a>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'booksite/img/car3.jpg' %}">
                <div class="carousel-caption">
                    <a onclick="scrolldown()" class="btn btn-success btn-lg">Descoperă poveştile</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div> <!-- Carousel -->

    <div id="mark" class="space100"></div>

 <div class="container" >
    <div class="row">
        <div class="col-md-5 jumbotron">
          <h1>We`ll give power to your child</h1>
          <p class="lead">Ne place cum ei zîmbesc şi vrem să facem lumea un pic mai frumoasă. Din suflet, pentru copiii noştri.</p>
          <p><a onclick="showDiv(); scrolldownfetele(); " class="btn btn-lg btn-success" role="button">Descoperă echipa</a></p>
        </div>
        <div class="col-md-7">
            <div class="container">
                <img class="mark-img" src="{% static 'booksite/img/mark1.jpg'%}">
            </div>
        </div>
    </div>
</div>
<div id="fetelespace" class="space100"></div>

<div id="fetele" style="display:none;" class="container">
    lalala
    <img src="{% static 'booksite/img/cristina.jpg' %}">
</div>

<div id="tales" class="space100"></div>


    <!-- Three columns of text below the carousel -->
    
<div class="container">
    <div class="row tales">
        {% for tale in tale_list %}

            <div class="col-lg-4 book-vertical">
                <a class="nolink" data-toggle="modal" href="{% url 'tale_details' tale.id %}"
                   data-target="#taleDetailsDlg">
                    <div class="text-center"><img src="{% static tale.image_path %}" alt="Generic placeholder image" height="350"></div>
                    <div class="space20"></div>
                    <div class="book-title text-center">{{ tale.title }}</div>
                    <div class="book-text">{{ tale.about }}</div>
                    <div class="book-btn text-center">
                        <a href="{% url 'create_tale' tale.id %}" class="btn btn-success btn-lg">Creeaza
                            cartea &raquo;</a>
                    </div>
                </a>
            </div><!-- /.col-lg-4 -->

        {% endfor %}
    </div><!-- /.row -->
</div>

    <div id="taleDetailsDlg" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                Load unsuccessfull...
            </div>
        </div>
    </div>

<div id="contact" class="container">
    


</div>

{% endblock %}

{% block last %}
    <script>
        function scrolldown() {
            $('html, body').stop().animate({
                scrollTop: $("#tales").offset().top
            }, 1000);
        }
    </script>
    <script>
        function scrolldownfetele() {
            $('html, body').stop().animate({
                scrollTop: $("#fetele").offset().top
            }, 700);
        }
    </script>

    <script>
        function showDiv() {
            document.getElementById('fetele').style.display = "block";
        }
    </script>
{% endblock %}
